.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serifl;
}

header {
    text-align: center;
    padding: 50px;
    font-size: 150%;
    background-color:burlywood;
}

p {
    text-align: center;
}

.cards section {
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serifl;
    margin-bottom: 50px;
    margin-top: 50px;

  }

footer {
    text-align: center;
    padding: 50px;
    font-size: 200%;
    background-color:burlywood;
}