@media only screen and (min-width: 1000px) {
    header {
        background-color: #01ff70;
        text-align: center;

    }
    
    #header-nav {
        
        padding: 30px 0;
        display: inline-block;

    }

    #hero-image {
        width: 100%;
        margin-bottom: 40px;
    }

    #header-nav a{
        padding: 25px;
        color: black;
        text-decoration: none;
        font-size: 275%;
        transition: text-decoration 1s;

    }

    #header-nav a:hover{
        text-decoration: underline;
        text-decoration: underline solid currentColor;
        transition: text-decoration 1s;
        }

    #header-div {
        text-align: center;
    }

    #hamburger {
        display: none;
    }

    header picture img, header picture source{
        width: 40%;
        width: 35%;
        top: 0px;
        display: inline-block;

    }

    #summary-headline {
        font-size: 250%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #summary-content {
        font-size: 200%;
        padding-left: 60px;
        padding-right: 60px;
    }

    #action-headline {
        font-size: 250%;
    }

    #action-content {
        font-size: 200%;
    }


    #main-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 560px 530px 670px;
    }

    #summary-img {
        max-width: 100%;
        max-height: 100%;
        padding: 20px 0;
    }

    #summary-info {
        max-height: 650px;

    }

    #summary-content {
        font-size: 170%;
        padding-left: 70px;
        padding-right: 70px;

    }






    #call-to-action {

        max-height: 550px;;

    }

    #submission-headline {
        font-size: 200%;
        
    }

    #action-img {
   
        max-height: 100%;
        padding: 10px 0;
    }

    #action-headline {
        text-align: center;
        grid-column: 2;
        grid-row: 1;
        padding-left: 70px;
        padding-right: 70px;
    }

    #action-content {
        text-align: center;
        grid-column: 2;
        grid-row: 2;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 180%;
    }

    
    #weather-today-container {
        font-size: 100%;
        padding: 10px;
    }

    #forecast-weather-container {

        font-size: 100%;
        padding: 10px;

    }

    #weather-headline {
        font-size: 180%;
    }
    
    #forecast-headline {
        font-size: 180%;
    }

    #trademark {
        font-size: 200%;
    }

    #widgets p {
        font-size: 250%;
        font-family: 'Playfair Display', serif;
        text-align: center;
        padding: 20px;
    }

    #weather-API {
        font-size: 125%;
    }


    #widgets {
        text-align: center;
        padding: 20% 0;
    }

    #widgets img {
        padding-left: 30px;
        padding-right: 30px;
    }

    .open {
        display: none;
    }


    #modification-div p {
        font-size: 200%;
    }

    body {
        background-color: #001f3f;
    }

    .output {

        font-size: 25px;

        font-family: 'Source Sans 3', sans-serif;
        text-align: center;
        background-color: #3bff90;
        margin-bottom: 40px;
        padding: 20px;
        margin-right: 30%;
        margin-left: 30%;
    }

    #fresh-main div textarea {
        height: 200px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
    }

    #fresh-main div input {
        height: 100px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 250%;
    }

    #h1-div {
        font-size: 200%;
    }
    
    #fresh-main div select {
        height: 100px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
    }
    #fresh-main div label{
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 200%;
        padding: 10px;
    }

    #colorful-straw {
        max-width: 100%;
        max-height: 350px;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #googleMap {
        height: 800px;
        margin-top: 50px;
    }

    #main-div-aboutus h2{
        text-align: center;
        padding: 20px;
        font-size: 75px;
        font-family: 'Playfair Display', serif;
    }

    #main-div-aboutus p{
        text-align: center;
        padding: 30px;
        font-size: 200%;
        font-family: 'Source Sans 3', sans-serif;
    }
    
    #submission-count {
        font-size: 200%;
    }

    footer {
        margin-top: 40px;
    }

    #trademark-map {
        text-align: center;
        font-size: 120%;
    }

    }


    
