@media only screen and (max-width: 1079px) and (min-width: 481px) {
    html body {
        background: #2a2a2a;
    }
    
    #header-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 4fr 1fr;
        background: #111111;
        margin-bottom:25px;
        height: 250px;
    
    }
    
    
    #header-container div {
        margin: auto;
    }
    
    
    #logo-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #img-img{
        grid-row: 1;
        grid-column: 1;
        width: 25%;
        margin-left: 25px;
        margin-top: 32px;
    }
    
    h1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 30px;
        font-size: 200%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #cbb26a;
        line-height: 35px;
        margin-left: 120px;
    }
    
    #widgets img {
    
        margin-top: 35%;
        margin-left: 25%;
        width: 15%;
    }
    
    #header-date-div {
        display: grid;
        grid-template-rows: 1fr;
        background:#2a2a2a;
        grid-row: 2;
        grid-column: 2;
        border-radius: 20px;
        margin-bottom: 220px;
        width: 220px;
        margin-bottom: 125px;

    
    }
    
    #header-date-div p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 60%;
        color: #cbb26a;
        text-align: center;


    
    
    }
    
    
    
    
    
    nav {
        grid-column: 2;
        grid-row: 1;
        margin-top: 60px;
        text-align: center;
        font-size: 100%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: #cbb26a;
        row-gap: 225px;
    
    }

    .nav-dropdown div {
        display:none;
    }
    
    a {
        text-decoration: none;
        color: #cbb26a;
    }
    
    #hamburger {
        display: none;
    }
    
    
    
    ul li {
        list-style-type: none;
        display: inline;
        float: left;
        white-space: nowrap;
        padding: 15px;
    }
    
    ul {
        padding: 0;
        margin-left: 10%;
        margin-bottom: 25%;
    }

    nav ul a, nav img {
        text-decoration: none;
        color:#cbb26a;
        border-radius: 10px;
    }
    
    nav ul a:hover, nav img:hover {
        background-color: #cbb26a;
        color: #2a2a2a;
    }
    
    
    








    .main-div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 50px;
        display:inline;



    }
    
    .main-div div {
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 150px;
        

    }
    
    
    main div div {
        margin-bottom: 20px;
        text-align: center;
    }
    
    
    
    
    #event {
        background:#cbb26a;
        grid-row: 2;
    }
    
    #weather {
        grid-row: 2;
        background:#cbb26a;
    
    }
    
    #join {
        grid-row: 3;
        background:#cbb26a;
    
    }
    
    #middle-aisle-container {
        display: grid; 
        grid-row: 1;
        margin-top: 20px;
        height: 250px;

    
    }
    
    
    
    #hero {
        grid-row: 1; 
        margin-left: auto;
        width: 100%;
        background:#cbb26a;
    
        
    }
    
    #news {
        grid-row: 2;
        background:#cbb26a;
        margin-left: auto;
        width: 100%;
    }
    
    #spotlight-1 {
        margin-top: 90px;
        grid-row: 3;
        background:#cbb26a;
    }
    
    #spotlight-2 {
        grid-row: 4;
        background:#cbb26a;
    }
    
    #spotlight-3 {
        grid-row: 5;
        background:#cbb26a;
    }



















    
    
    
    
    
    
    
    footer {
        background: #111111;
        padding:20px;
    }
    
    #footer-box p {
        text-align: center;
        font-size: 100%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: #cbb26a;
        padding: 5px;
        margin-top: auto;
        
    }
    
    
    
    footer a {
        color:#cbb26a;
        border-radius: 10px;
    }
    
    footer a:hover {
        background-color: #cbb26a;
        color: #2a2a2a;
    }
    
    footer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        padding: 20px;
    }
    
    #hamburger {
        display: none;
    }
    
    
    
    ul li {
        list-style-type: none;
        display: inline;
        float: left;
        white-space: nowrap;
        padding: 15px;
    }
    
    ul {
        padding: 0;
        margin-left: 10%;
        margin-bottom: 25%;
    }    
    
    
    
    
    
    
    
    
    footer {
        background-color:#111111;
    }
}




